
    <!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>About University of  MCU</h2>
                <ul>
                    <li> <a routerLink="/home"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> About Us</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="/assets/images/course-video.mp4" type="video/mp4" />
        </video> -->
    <!-- ######## Page  Title End ####### -->
    
    <section class="with-medical">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 nav-img">
                    <img src="/assets/mcu3.jpg" width="600px">
                </div>
                <div class="col-lg-6 col-md-12 txtr">
                    <h4>Makhanlal Chaturvedi National University Bhopal<br>
                    <span>About University</span>
                    </h4>
                    <p>Makhanlal Chaturvedi National University of Journalism and Communication (MCNUJC) was established 34 years ago. Carrying forward the legacy of excellence, it is a leader and pioneer in Mass Communication, Media, Journalism, Computer Applications, Digital media, and Management Education.

                    Established in 1990 by the Madhya Pradesh Government, MCNUJC is named after Pt. Makhanlal Chaturvedi, the great editor, poet, litterateur and freedom fighter. It is the first academic centre of excellence in the entire Asian sub-continent where professionals are developed in Communication, Media, and IT disciplines through traditional and modern methods of communication relevant to the current media needs. The University has two campuses in Bhopal. It has three other campuses in Datia, Khandwa and Rewa. The University is also recognised under section 12(B) of UGC.
        
                    </p>
                    <p> University has been a pioneer in launching many new job-oriented courses of significance, which have received enormous appreciation among employers. The University has a focused approach towards professional education, training and innovative methods of teaching and learning. The University implemented NEP 2020 from the year 2021 for their UG programmes & is pioneer to introduce & implement the policy. Students get opportunity to study subjects of their choice under the Choice Based Credit System (CBCS) as per the industry needs. The University is equally appreciated for its research contribution through its research scholars leading to the award of PhD in Media , Library Sciences and Computer Applications. Most of the faculty members of the university hold a PhD along with strong research contribution.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ################# Our Instructors Starts Here#######################--->    

<div class="our-instructor">
    <div class="container">
         <div class="session-title row">
            <h2>Our Instructors</h2>
        </div>
        <div class="instruct-row row">
            <div class="col-md-3">
                <div class="instruct-card">
                    <img src="/assets/soft1.jpg.jpg" alt="">
                <h6>Mohd Shahrukh</h6>
                <p>Software Enginner</p>
                </div>
            </div>
             <div class="col-md-3">
                <div class="instruct-card">
                    <img src="/assets/soft2.jpg.jpg" alt="">
                <h6>Mohd Farhan</h6>
                <p>Spring Boot Coder</p>
                </div>
            </div>
             <div class="col-md-3">
                <div class="instruct-card">
                    <img src="/assets/soft3.jpg" alt="">
                <h6>ZamZam Fatima
                </h6>
                <p>Graphic Design</p>
                </div>
            </div>
             <div class="col-md-3">
                <div class="instruct-card">
                    <img src="/assets/soft4.jpg.jpg" alt="">
                <h6>Ubaish Khan</h6>
                <p>Java Developer</p>
                </div>
            </div>
        </div>
    </div>
</div> 
     <!-- ################# University Number Starts Here#######################--->
     <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>20+</h3>
                        <span>YEARS OF EXPEREANCE</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>100+</h3>
                        <span>Cources</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>18+</h3>
                        <span>MASTER CERTIFICATIONS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <!-- ################# Our Footer Starts Here#######################--->

    <div class="copy">
        <div class="container">
            <a href="https://www.smarteyeapps.com/">2024 &copy; All Rights Reserved | Designed and Developed by Shaikh Mohd Shahrukh</a>
        </div>
    </div>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/slider/js/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>


