<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" href="/home">Back</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/addcourses" href="/addcourses">Add Course</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 

      <table class="table">
        <thead>
          <tr>
            <th>CourseName</th>
            <th>CourseCode</th>
            <th>Description</th>
            <th>Action</th>
            <th>Update</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let course of courses">
            <td>{{ course.courseName }}</td>
            <td>{{ course.courseCode }}</td>
            <td>{{ course.description }}</td>
            <td>
              <button (click)= "delete(course.courseId)" class="btn btn-danger">Delete</button>
            </td>
            <td>
              <button (click)= "update(course.courseId)" class="btn btn-success">Update</button>
            </td>
            <td>
              <button (click)= "view(course.courseId)" class="btn btn-success">View</button>
            </td>
          </tr>
        </tbody>
      </table>
  </body>
</html>
