<div class="sub-header">
  <div class="">
    <div class="row">
      <img src="/assets/images/mcuimage.png" alt="" srcset="" />
    </div>
  </div>
</div> 

  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                     
                      <a href="#" class="logo">
                          MCU BHOPAL
                      </a>
                      <ul class="nav">
                        <li class="scroll-to-section" routerLink="/students">
                          <a href="/students">STUDENTS</a>
                        </li>
                          <!-- <li><a href="meetings.html">Meetings</a></li>
                          <li class="scroll-to-section"><a href="#apply">Apply Now</a></li> -->
                          <li class="has-sub">
                              <a href="javascript:void(0)">FACULTY</a>
                              <ul class="sub-menu">
                                <li class="scroll-to-section" routerLink="/professorlogin">
                                  <a href="/professorlogin">Professor</a>
                                </li>
                                <li>
                                  <a routerLink="/admissions" href="/admissions">Admissions</a>
                                </li>
                                <li><a routerLink="/results" href="/results">Results</a></li>
                              </ul>
                          </li>
                          <li class="scroll-to-section" routerLink="/courses">
                            <a href="/courses">Courses</a>
                          </li>
                          <li class="scroll-to-section" routerLink="/contact">
                            <a href="/contact">Contact Us</a>
                          </li>
                          <li class="scroll-to-section" routerLink="/about">
                            <a href="/about">About Us</a>
                          </li>                          
                      </ul>                         
                  </nav>
              </div>
          </div>
      </div>
  </header>

  <section> 
    <video autoplay muted loop id="bg-video" class="bg-white">
       <source src="assets/video/mcu.mp4" type="video/mp4"/>
     </video>
   </section>

  <!-- <div class="slider-detail" style="margin-top: 150px">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="/assets/mcu1.jpg"
            alt="First slide" width="100%"
          />
          <div class="carousel-caption fvgb d-none d-md-block">
            <h5 class="animated bounceInDown">
              Create an Awesome Website Today
            </h5>
            <p class="animated bounceInLeft">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              justo neque, <br />
              aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu
              metus, mattis <br />
              sed sagittis at, sagittis quis neque. Praesent.
            </p>

            <div class="row vbh">
              <div class="btn btn-success animated bounceInUp">
                Apply Online
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="/assets/mcu2.jpg"
            alt="Third slide"
          />
          <div class="carousel-caption vdg-cur d-none d-md-block">
            <h5 class="animated bounceInDown">
              Best Free Educational Template
            </h5>
            <p class="animated bounceInLeft">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              justo neque, <br />
              aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu
              metus, mattis <br />
              sed sagittis at, sagittis quis neque. Praesent.
            </p>

            <div class="row vbh">
              <div class="btn btn-success animated bounceInUp">
                Apply Online
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> -->

  <!--################### Key Features Starts Here #######################--->

  <div class="key-feature container-fluid">
    <div class="container">
      <div class="session-title row">
        <h2>Key Features</h2>
        <p>
        University management project content focuses on planning, organizing, leading, and controlling activities to achieve specific goals within educational institutions, integrating principles of management with academic administration and leadership strategies.
        </p>
      </div>
      <div class="row">
        <div class="col-md-3 key-div">
          <div class="key-cover">
            <i class="far fa-file-word"></i>
            <h4>Expert Faculty</h4>
            <p>
            Expert faculty in university management experience in academic administration, leadership, and organizational management, effective instruction and mentorship in strategic planning and operational excellence within educational settings.
            </p>
          </div>
        </div>
        <div class="col-md-3 key-div">
          <div class="key-cover">
            <i class="far fa-clock"></i>
            <h4>Well Equipped Labs</h4>
            <p>
              Well-equipped labs in university management project content facilitate practical simulations and case studies,students' understanding of organizational dynamics, decision-making processes implementation strategies with educational institutions.
            </p>
          </div>
        </div>
        <div class="col-md-3 key-div">
          <div class="key-cover">
            <i class="fas fa-object-group"></i>
            <h4>Quality Education</h4>
            <p>
        Quality education in university management expert faculty, practical applications through case studies, and hands-on experiences in well-equipped labs, preparing students for leadership roles in educational administration.
            </p>
          </div>
        </div>
        <div class="col-md-3 key-div">
          <div class="key-cover">
            <i class="fas fa-phone-volume"></i>
            <h4>24 x 7 Access</h4>
            <p>
              24 x 7 access to university management project content allows students to engage with resources, collaborate on projects, and access support services anytime, facilitating flexibility and continuous learning opportunities beyond traditional hours.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--################### Cources Starts Here #######################--->

  <div class="cources container-fluid">
    <div class="container">
      <div class="session-title row">
        <h2>Our cources</h2>
        <p>
          Our courses in university management project content encompass strategic planning, financial management, leadership principles, and organizational behavior, preparing students for effective management and administration within educational institutions.
        </p>
      </div>
      <div class="cours-ro row">
        <div class="col-md-4 col-sm-6 cord-div">
          <div class="cours-card">
            <img src="assets/images/cour/4.jpg" alt="" />
            <div class="cours-name">
              <h2>Java </h2>
            </div>
            <div class="course-detail">
              <h5>"Using Java Web development, mobile applications, enterprise software.
              </h5>

              <p class="star">
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
              </p>

              <p>
                A Java course covers fundamentals, object-oriented programming, data structures, GUI development, networking, databases, and web applications using Java language.
              </p>

              <button class="btn btn-sm btn-success" routerLink="/addstudents">Apply Online</button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 cord-div">
          <div class="cours-card">
            <img src="assets/images/cour/5.jpg" alt="" />
            <div class="cours-name">
              <h2>Web Technology</h2>
            </div>
            <div class="course-detail">
              <h5>Creating websites, web applications, and online services with modern tools.</h5>

              <p class="star">
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
              </p>

              <p>
                Web technology encompasses tools, languages, and frameworks used to create, manage, and deliver content on the internet, including websites and applications.
              </p>

              <button class="btn btn-sm btn-success" routerLink="/addstudents">Apply Online</button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 cord-div">
          <div class="cours-card">
            <img src="assets/images/cour/6.jpg" alt="" />
            <div class="cours-name">
              <h2>Python </h2>
            </div>
            <div class="course-detail">
              <h5>Programming language for data analysis, and automation</h5>
              <p class="star">
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
              </p>
              <p>
                Python is a high-level programming language known for its simplicity, versatility, and readability, used extensively in web development and data science.
              </p>

              <button class="btn btn-sm btn-success" routerLink="/addstudents">Apply Online</button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 cord-div">
          <div class="cours-card">
            <img src="assets/images/cour/7.jpg" alt="" />
            <div class="cours-name">
              <h2>Digital Marketing</h2>
            </div>
            <div class="course-detail">
              <h5>Utilizing digital marketing for promoting products and services online effectively.</h5>

              <p class="star">
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
              </p>

              <p>
                Digital marketing is the practice of promoting products or services using digital channels such as websites, social media, email, and search engines.
              </p>

              <button class="btn btn-sm btn-success" routerLink="/addstudents">Apply Online</button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 cord-div">
          <div class="cours-card">
            <img src="assets/images/cour/8.jpg" alt="" />
            <div class="cours-name">
              <h2>Artificial Intelligence</h2>
            </div>
            <div class="course-detail">
              <h5>Developing systems for tasks requiring human-like intelligence, like learning and reasoning.</h5>

              <p class="star">
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
              </p>

              <p>
                AI is human intelligence processes by machines, including learning, problem-solving, perception, language understanding.
              </p>

              <button class="btn btn-sm btn-success" routerLink="/addstudents">Apply Online</button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 cord-div">
          <div class="cours-card">
            <img src="assets/images/cour/9.jpg" alt="" />
            <div class="cours-name">
              <h2>Machine learning </h2>
            </div>
            <div class="course-detail">
              <h5>Machine learning for developing algorithms computers to learn from data.</h5>

              <p class="star">
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
                <i class="fas fa-star higlit"></i>
              </p>

              <p>
                Machine learning is a branch of enables systems to learn from data and make decisions autonomously.
              </p>

              <button class="btn btn-sm btn-success" routerLink="/addstudents">Apply Online</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  ************************* Blog Starts Here ************************** -->
  <div id="blog" class="blog">
    <div class="container">
      <div class="session-title row">
        <h2>Latest News</h2>
        <p>
        It's best to check reputable news sources or official university websites for updates on events, academic programs, research breakthroughs, and other developments.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="blog-singe no-margin row">
            <div class="col-sm-5 blog-img-tab">
              <img src="assets/images/blog/b1.jpg" alt="" />
            </div>
            <div class="col-sm-7 blog-content-tab">
              <h2>Latest Financial Planing methods in 2024</h2>
              <p>
                <i class="fas fa-user"><small>Admin</small></i>
                <i class="fas fa-eye"><small>(12)</small></i>
                <i class="fas fa-comments"><small>(12)</small></i>
              </p>
              <p class="blog-desic">
              In 2024, financial planning methods include behavioral finance, impact investing, robo-advisors, estate planning, and integration of cryptocurrency and blockchain technologies.
              </p>
              <a href="#"
                >Read More <i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="blog-singe no-margin row">
            <div class="col-sm-5 blog-img-tab">
              <img src="assets/images/blog/b2.jpg" alt="" />
            </div>
            <div class="col-sm-7 blog-content-tab">
              <h2>Latest Financial Planing methods in 2024</h2>
              <p>
                <i class="fas fa-user"><small>Admin</small></i>
                <i class="fas fa-eye"><small>(12)</small></i>
                <i class="fas fa-comments"><small>(12)</small></i>
              </p>
              <p class="blog-desic">
              Latest financial planning methods in 2024 include sustainable investing, AI-driven wealth management, personalized retirement strategies, digital financial literacy tools.
              </p>
              <a href="#"
                >Read More <i class="fas fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--################### Team Starts Here #######################--->
  <section class="our-team team-11">
    <div class="container">
      <div class="session-title row">
        <h2>Our Efficient faculties</h2>
        <p>
          Our efficient faculties at the university excel in teaching, research, and mentorship,
          ensuring quality education and academic support for students.
        </p>
      </div>
      <div class="row team-row">
        <div class="col-md-3 col-sm-6">
          <div class="single-usr">
            <img src="/assets/images/srk.jpg.jpeg" alt="" />
            <div class="det-o">
              <h4>Mohd Shahrukh</h4>
              <i>Teacher </i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-usr">
            <img src="/assets/images/salim.jpg" alt="" />
            <div class="det-o">
              <h4>Mohd Salim</h4>
              <i>Teacher</i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-usr">
            <img src="/assets/images/soyb.jpg" alt="" />
            <div class="det-o">
              <h4>Mohd Shoyeb</h4>
              <i>Teacherr</i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-usr">
            <img src="/assets/images/khan.jpg" alt="" />
            <div class="det-o">
              <h4>Uvaish Khan</h4>
              <i>Teacher</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--################### Footer Starts Here #######################--->
  <footer id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-3 about">
          <h2>About Us</h2>
          <p>
            Phasellus scelerisque ornare nisl sit amet pulvinar. Nunc non
            scelerisque augue. Proin et sollicitudin velit.
          </p>

          <div class="foot-address">
            <div class="icon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="addet">
              Bhopal (M.P), INDIA
            </div>
          </div>
          <div class="foot-address">
            <div class="icon">
              <i class="far fa-envelope-open"></i>
            </div>
            <div class="addet">
              mcubhopal"&#64;"gmail.com <br />
              manish"&#64;"gmail.com
            </div>
          </div>
          <div class="foot-address">
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="addet">
              +23 323 43434 <br />
              +1 3232 434 55
            </div>
          </div>
        </div>
        <div class="col-md-3 fotblog">
          <h2>From latest Blog</h2>
          <div class="blohjb">
            <p>
              dignissim. Integer tempor facilisis malesuada. Proin ac varius
              velit, tincidunt condimentum
            </p>
            <span>22-06-2024</span>
          </div>
          <div class="blohjb">
            <p>
              dignissim. Integer tempor facilisis malesuada. Proin ac varius
              velit, tincidunt condimentum
            </p>
            <span>22-06-2024</span>
          </div>
          <div class="blohjb">
            <p>
              dignissim. Integer tempor facilisis malesuada. Proin ac varius
              velit, tincidunt condimentum
            </p>
            <span>22-06-2024</span>
          </div>
        </div>
        <div class="col-md-3 glink">
          <h2>Quick Links</h2>
          <ul>
            <li>
              <a href=""><i class="fas fa-angle-double-right"></i>Home</a>
            </li>
            <li>
              <a href=""><i class="fas fa-angle-double-right"></i>About Us</a>
            </li>
            <li>
              <a href=""><i class="fas fa-angle-double-right"></i>Cources</a>
            </li>
            <li>
              <a href=""><i class="fas fa-angle-double-right"></i>Blog</a>
            </li>
            <li>
              <a href=""><i class="fas fa-angle-double-right"></i>Gallery</a>
            </li>
            <li>
              <a href=""><i class="fas fa-angle-double-right"></i>Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 tags">
          <h2>Easy Tags</h2>
          <ul>
            <li>Java </li>
            <li>Web Design</li>
            <li>Spring Boot</li>
            <li>Node Js</li>
            <li>Python</li>
            <li>Angular Js</li>
            <li>Django</li>
            <li>React JS</li>
            <li>C++</li>
            <li>C Language</li>
            <li>Machine Learning</li>
            <li>Artificial Intelligence</li>
            <li>Digital marketing</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <div class="copy">
    <div class="container">
      <a href="https://www.smarteyeapps.com/"
        >2024 &copy; All Rights Reserved | Designed and Developed by
        Mohd Shahrukh</a
      >

      <span>
        <a><i class="fab fa-github"></i></a>
        <a><i class="fab fa-google-plus-g"></i></a>
        <a><i class="fab fa-pinterest-p"></i></a>
        <a><i class="fab fa-twitter"></i></a>
        <a><i class="fab fa-facebook-f"></i></a>
      </span>
    </div>
  </div>

